<header class="place-apart">
  <div class="place-apart">
    <a href="/"><img src="/images/bug.png" alt="HOME" /></a>
  </div>
  <nav class="place-center">
    <% if(locals.homeLink) {%>
    <div id="toggle-form-visibility" class="btn">Add Issue</div>
    <% }else{ %>
    <div id="toggle-form-visibility" class="btn">Add Project</div>
    <% }%>
  </nav>
</header>
<!-- <nav class="navbar">
  <div class="container-fluid">
    <div>Issue Tracker</div>
    <% if(locals.homeLink || locals.projectLink ) {%>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNavAltMarkup"
      aria-controls="navbarNavAltMarkup"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <% } %>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <% if(locals.homeLink) {%>
        <a
          class="nav-link link-info text-info fs-3 hover-text rounded-3"
          aria-current="page"
          href="/"
          >All Projects</a
        >
        <% } %> <% if(locals.projectLink) {%>
        <a
          class="nav-link link-info text-info fs-3 hover-text rounded-3"
          aria-current="page"
          href="/projects/<%=projectID%>"
          >Back To Project</a
        >
        <% } %>
      </div>
    </div>
  </div>
</nav> -->
