<div id="hidable-form" class="form-container">
  <h3>Add a new Project</h3>
  <form action="/projects/create-project" method="POST">
      <div>
        <label for="project-title" >Project Title</label>
        <input
          type="text"
          name="projectName"
          id="project-title"
          required
        />
        </div>
        <div>
            <label for="project-description" >Project Description</label>
            <textarea
              name="projectDescription"
              id="project-description"
              required
            ></textarea>
        </div>
        <div>
            <label for="project-author" class="form-label">Author</label>
            <input
              type="text"
              name="projectAuthor"
              id="project-author"
              required
            />
        </div>
        <button type="submit">Submit Project</button>
      </div>
    </div>
  </form>
</div>
