<!DOCTYPE html>
<html lang="en">
  <!-- this will be the common pard of my whole application -->
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="/styles/layout.css" />
    <link rel="stylesheet" href="/styles/form.css" />
    <%- style %>
  </head>

  <body>
    <!-- this is header for the the aplication -->
    <%-include('./_header')%> <%- body %> <%- script %>
    <script src="/scripts/layout.js"></script>
  </body>
</html>
